@import "tailwindcss";

:root {
  --font-mono: 'Fira Code', monospace;
}

body {
  background: #0f0f17;
}

/* Hide scrollbar for horizontal scroll */
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}